body {
  color: #222;
  background-color: #fff;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 16pt;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-text-size-adjust: 100%;
}

#app {
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  min-height: 100%;
  overflow: hidden;
}

