$mobile: 35rem;

@import './base';

#app {
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  min-height: 100%;
  overflow: hidden;
}

.tag {
  font-size: 0.8em;
}

.ReactVirtualized__List:focus {
  outline: none;
}

.hide-mobile {
  @media screen and (max-width: $mobile) {
    display: none;
  }
}
