$baseColor: #222;
$baseFontSize: 1em;
$borderRadius: 0.3rem;

body {
  color: $baseColor;
  background-color: #f9fbfc;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: $baseFontSize;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-text-size-adjust: 100%;
}

p {
  margin-top: 0;
  line-height: 1.5em;
}

a, .link {
  text-decoration: none;
  color: #333;
  cursor: pointer;

  &:hover {
    color: #222;
  }
}

h1, .h1 {
  font-weight: 200;
  letter-spacing: -0.05em;
  margin: 0 0 0.4em;
  padding: 0;

  small {
    font-size: 0.6em;
    margin-left: 0.5em;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

blockquote {
  margin: 0 0 1.5rem 0;
  font-size: 2.5em;
  letter-spacing: -0.03em;
  line-height: 0.8em;
  color: #999;

  & > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

pre {
  background-color: #eee;
  padding: 1.2em;
  font-size: 1rem;
  border-radius: $borderRadius;
  text-align: left;
  max-width: 100%;
  overflow: scroll;
  margin: 0;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
