$drawerWidth: 12.5rem;
$drawerClosedWidth: 3.4rem;
$openSpeed: 0.15s;

.header {
  background-color: rgb(38,62,89) !important;

  .toolbar {
    justify-content: space-between;
    padding: 0 1rem;
    transition: all $openSpeed ease-in-out;
  }

  .logo {
    height: 1.2rem;
  }

  .title {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #4ae;
  }

  &.drawer-open .toolbar {
    margin-left: $drawerWidth;
  }

  &.drawer-closed .toolbar {
    margin-left: $drawerClosedWidth;
  }
}
