.layout.vertical {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 100%;

  > .content {
    flex: auto;
    display: flex;
    margin-top: 3rem;
  }

  header, footer {
    flex: 0 auto;
  }

  header + * {
    flex: auto;
  }

  .virtualized {
    flex: 1;
    display: block;
    padding-left: 1em;
  }
}
