$drawerWidth: 12.5rem;
$drawerClosedWidth: 3.4rem;
$openSpeed: 0.15s;

.layout.sidenav {
  .drawer > * {
    width: $drawerWidth;
    transition: all $openSpeed ease-in-out;
    overflow-x: hidden;
  }

  .drawer.closed > * {
    width: $drawerClosedWidth;
  }

  .opener.open {
    text-align: right;
  }

  .list * {
    white-space: nowrap;
  }

  .content {
    transition: all $openSpeed ease-in-out;

    &.drawer-open {
      margin-left: $drawerWidth;
    }

    &.drawer-closed {
      margin-left: $drawerClosedWidth;
    }
  }
}
