.page {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1.5rem;

  &.centered-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: #aaa;
  }
}
