.page {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1.5rem;

  &.more-padding {
    padding: 2rem 2.5rem 2.5rem 2.5rem;
  }

  &.centered-message {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #aaa;
  }
}
