.Toastify {
  .toast-progress {
    background: rgba(0,0,0,0.1);
  }

  .Toastify__toast {
    border-radius: 0.3rem;
    padding: 1rem 1.2rem;
  }

  .Toastify__toast--success {
    background: rgb(109,192,106);
  }

  .Toastify__toast--error {
    background: rgb(189,51,46);
  }

  .Toastify__toast--warning {
    background: rgb(220,177,44);
  }

  .Toastify__toast--info {
    background: rgb(111,112,114);
  }

  .object {
    font-family: monospace;
    white-space: pre;
    overflow: auto;

    &.small {
      font-size: 0.6rem;
    }
  }
}


