.topnav {
  display: flex;

  .item {
    padding: 0.2rem 1rem 0.2rem;
    border-radius: 0.2rem;

    > * {
      padding: 0;
    }
  }

  .link-text {
    color: #fff;
  }

  .active {
    font-weight: bold;

    .link-text {
      color: #fff;
    }
  }
}
